/* @import url('https://fonts.googleapis.com/css2?family=Michroma&family=Montserrat:wght@600&display=swap'); */

body {
  margin: 0;
  font-family:"Montserrat", 
    sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: local("Montserrat"),
    url("./assets/Fonts/Montserrat-SemiBold.ttf") format("truetype");
}