body {
  margin: 0;
  font-family:"Montserrat", 
    sans-serif;

}

a {
  outline: none;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 2px 1px 0;
}
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: local("Montserrat"),
    url("./assets/Fonts/Montserrat-SemiBold.ttf") format("truetype");
}